<h1>Detail of <%= @user.id %></h1>

<table  class="table table-hover">
    <tr>
      <th>Id : </th>
      <td><%= @user.id %></td>
    </tr>
    <tr>
      <th>Fid : </th>
      <td><%= @user.fid %></td>
    </tr>
</table>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back to Lsit', users_path %>
