<h1>Detail of User-<%= @user.id %></h1>

<table  class="table table-hover">
    <tr>
      <th>Id : </th>
      <td><%= @user.id %></td>
    </tr>
    <tr>
      <th>Fid : </th>
      <td><%= @user.fid %></td>
    </tr>
    <tr>
      <th>Gender : </th>
      <td><%= @user.gender.blank? ? '-' : @user.gender %></td>
    </tr>
    <tr>
      <th>BirthDay : </th>
      <td><%= @user.bday.blank? ? '-' : @user.bday %></td>
    </tr>
    <tr>
      <th>EventId : </th>
      <% if @user.events.blank? %>
        <td>-</td>
      <% else %>
        <td>
          <% @user.events.each do |event| %>
	    <%= link_to event.id, event %>
          <% end %>
        </td>
      <% end %>
    </tr>
</table>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back to Lsit', users_path %>
