<h1>Detail of <%= @event.name %></h1>

<table  class="table table-hover">
    <tr>
      <th>Name : </th>
      <td><%= @event.name %></td>
    </tr>
    <tr>
      <th>Date : </th>
      <td><%= @event.date %></td>
    </tr>
</table>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back to List', events_path %>
