<h1>Listing Authorized Apps</h1>

<table  class="table table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Key</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @authorized_apps.each do |authorized_app| %>
      <tr>
        <td><%= authorized_app.id %></td>
        <td><%= authorized_app.name %></td>
        <td><%= authorized_app.key %></td>
        <td><%= link_to 'Show', authorized_app %></td>
        <td><%= link_to 'Edit', edit_authorized_app_path(authorized_app) %></td>
        <td><%= link_to 'Destroy', authorized_app, method: :delete, data: { confirm: 'Are you sure ?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate(@authorized_apps) %>

<br>

<%= button_to 'Register New App', new_authorized_app_path, method: :get, class: 'btn btn-primary' %>
