<% if admin_signed_in? %>
  <nav>
    <ul class="nav nav-list span2">
      <li class="nav-header">Menu</li>
      <li class="<%= 'active' if params[:controller] == 'home' %>"><%= link_to "Home", root_path %></li>
      <li class="<%= 'active' if params[:controller] == 'users' %>"><%= link_to "User", users_path %></li>
      <li class="<%= 'active' if params[:controller] == 'events' %>"><%= link_to "Event", events_path %></li>
      <li class="<%= 'active' if params[:controller] == 'authorized_apps' %>"><%= link_to "Authorized Apps", authorized_apps_path %></li>
    </ul>
  </nav>
<% end %>
