<!DOCTYPE html>
<html>
<head>
  <title>Mutsuki</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <div class="row">
      <div class="span12">
        <% if notice %>
          <p class="alert"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert"><%= alert %></p>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="span3">
        <%= render 'layouts/left_navi' %>
      </div>
      <div class="span9">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
